.App {
  text-align: center;
}

.App-header {
  margin: 10px;
  padding: 20px;
  text-align: center;
  z-index: 0;
}

.column {
  float: left;
  margin: 20px;
  padding: 20px;
  opacity: 0.8;
  background-color: white;
  height: 70vh;
  overflow: hidden;
}

.column.middle {
  float: right;
  width: auto;
  margin: 20px;
  padding: 20px;
  opacity: 0.8;
  background-color: white;
  height: 70vh;
  overflow: hidden;
  justify-content: center;
}
 
/* 响应式布局 - 宽度小于600px时设置上下布局 */
@media screen and (max-width: 600px) {
  .column.middle {
    width: 100%;
  }
}
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}